.header{
    margin-top: 60px;

}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
 font-family: 'Lora', serif;;
   color: gray;
}

.headerTitlesmall{
position:absolute;
top: 18%;
font-size: 22px;
}
.headerTitleLarge{
    position:absolute;
    top: 20%;
    font-size: 70px;
}
.headerimg{
    width:100%;
    height: 450px;
    margin-top: 80px;
}
